Package: gold-blockchain-cli
Version: {{ GOLD_DEB_CONTROL_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Gold Network Inc <hello@glcoin.net>
Description: Gold Blockchain
 Gold is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
