[Unit]
Description=Gold Full Node Service for %i
Requires=gold-daemon@%i.service
After=gold-daemon@%i.service

[Service]
Type=simple
Environment=GOLD_ROOT=/home/%i/.gold/mainnet
ExecStart=/opt/gold/gold_full_node
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
